<!DOCTYPE html>
<html>

<div class="mobile-nav-header">
    <button class="menu-toggle" onclick="toggleMenu()">☰</button>
</div>

<nav class="navbar" id="navbar">

    <a href="/">Home</a>
    <a href="/predict-groups">Predict Groups</a>
    <a href="/predict-knockouts">Predict Knockouts</a>
    <a href="/leaderboard">Leaderboard</a>
        <a href="/view-predictions">View Predictions</a>
    <a href="/standings">WC Standings</a>
    <a href="/logout">Logout</a>

</nav>

<script>
function toggleMenu() {
    const nav = document.getElementById('navbar');
    nav.classList.toggle('show-nav');
}
</script>

<head>

    <title>World Cup Predictor</title>

<link href="https://fonts.cdnfonts.com/css/eras-demi-itc" rel="stylesheet">

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">

<meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
</nav>

<header class="site-header">

</header>

<div class="page-content">

    {% block content %}
    {% endblock %}

</div>

<body class="bg-{{ bg_theme }}">



</body>

</html>