{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">

    Leaderboard

</h1>

<div class="league-table-wrapper">

<table class="league-table">

    <thead>

        <tr>

            <th>#</th>

            <th>Player Name</th>

            <th>Group Pts</th>

            <th>KO Pts</th>

            <th>Total Pts</th>

        </tr>

    </thead>

    <tbody>

        {% for user in leaderboard_data %}

        <tr>

            <td>{{ loop.index }}</td>

            <td>{{ user.name }}</td>

            <td>{{ user.group_points }}</td>

            <td>{{ user.knockout_points }}</td>

            <td><strong>{{ user.total_points }}</strong></td>

        </tr>

        {% endfor %}

    </tbody>

</table>

</div>

{% endblock %}