{% extends 'base.html' %}

{% block content %}

<h1>

    Predict Group Matches

</h1>

<div class="fixtures-grid">

{% for fixture in fixtures %}

<div class="fixture-card">

    <div class="fixture-header">

<div class="fixture-teams">

    <div class="team-name">

        {{ fixture.home_team }}

    </div>

    <div class="vs-text">

        vs

    </div>

    <div class="team-name">

        {{ fixture.away_team }}

    </div>

</div>

        <div class="fixture-time">

            {{ fixture.kickoff }}

        </div>

    </div>

    <div class="prediction-buttons">

        <!-- HOME -->

        <button

            class="prediction-button

            {% if prediction_map.get(fixture.id) == 'HOME' %}
                selected
            {% endif %}"

            data-fixture="{{ fixture.id }}"
            data-prediction="HOME"

            {% if current_time >= fixture.kickoff %}
            disabled
            {% endif %}>

            {{ fixture.home_flag }}

        </button>

        <!-- DRAW -->

        <button

            class="prediction-button

            {% if prediction_map.get(fixture.id) == 'DRAW' %}
                selected
            {% endif %}"

            data-fixture="{{ fixture.id }}"
            data-prediction="DRAW"

            {% if current_time >= fixture.kickoff %}
            disabled
            {% endif %}>

            🤝

        </button>

        <!-- AWAY -->

        <button

            class="prediction-button

            {% if prediction_map.get(fixture.id) == 'AWAY' %}
                selected
            {% endif %}"

            data-fixture="{{ fixture.id }}"
            data-prediction="AWAY"

            {% if current_time >= fixture.kickoff %}
            disabled
            {% endif %}>

            {{ fixture.away_flag }}

        </button>

    </div>

</div>

{% endfor %}

</div>

<script>

const buttons = document.querySelectorAll(
    '.prediction-button'
)

buttons.forEach(button => {

    button.addEventListener(
        'click',
        async () => {

            const fixtureId =
                button.dataset.fixture

            const prediction =
                button.dataset.prediction

            const card =
                button.closest('.fixture-card')

            const allButtons =
                card.querySelectorAll(
                    '.prediction-button'
                )

            allButtons.forEach(btn => {
                btn.classList.remove(
                    'selected'
                )
            })

            button.classList.add(
                'selected'
            )

            await fetch(
    '/save-prediction',
    {

        method: 'POST',

        headers: {
            'Content-Type':
            'application/json'
        },

        body: JSON.stringify({

            fixture_id: fixtureId,

            prediction: prediction
        })
    }
)
        }
    )
})

</script>

{% endblock %}